body{
  min-height: 80vh;
}

.homepage .card-big-shadow {
  max-width: 320px;
  position: relative;
}

.homepage .card {
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #ffffff;
  background: #b8d8d8;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.homepage .title,
.description,
.content a {
  text-decoration: none;
  color: #ffffff;
}
.homepage .card.card-just-text .content {
  padding: 20px 25px;
  text-align: center;
}

.homepage .card .category {
  color: #7a9e9f;
}

.homepage .card .category,
.card .label {
  font-size: 14px;
  margin-bottom: 0px;
}
.homepage .card-big-shadow:before {
  background-image: url("http://static.tumblr.com/i21wc39/coTmrkw40/shadow.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: -12%;
  content: "";
  display: block;
  left: -12%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.homepage h4 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2em;
}
.homepage h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}
.homepage .card .description {
  font-size: 16px;
  color: #000000;
}
.homepage .content-card {
  margin-top: 30px;
}
.homepage a:hover,
a:focus {
  text-decoration: none;
}

.blockquote {
  border: 1px solid rgba(222, 226, 230, 0.54);
  border-left: 0.5rem solid rgba(0, 123, 255, 0.54);
  color: #6c757d;
  font-style: italic;
  margin: auto;
  max-width: 90%;
  padding: 4rem 1rem 1rem 4rem;
  position: relative;
  width: 100%;
}
.blockquote:before {
  color: rgba(0, 123, 255, 0.54);
  content: "“";
  font-family: "Georgia";
  font-size: 5.5rem;
  height: 3.75rem;
  left: 0.9375rem;
  line-height: 1;
  max-width: 3.75rem;
  position: absolute;
  text-align: inherit;
  width: 100%;
}
.blockquote:after {
  content: "";
}
.blockquote-footer {
  font-size: 80%;
  color: #343a40;
  display: block;
  font-style: normal;
  font-weight: 700;
  margin-top: 1rem;
  padding: 0;
}
.blockquote-footer:before {
  content: "— ";
}

.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}